body {
	background-color: rgb(0, 25, 50);
	width: 100%;
}

.menu-bar {
	margin: 30px;
	text-align: right;
}

.menu-bar-item a:link, .menu-bar-item a:visited, .menu-bar-item a:active{
	text-decoration: none;
	color: white;
}

.menu-bar-item a:hover {
	text-decoration: none;
	color: cyan;
}	

.menu-bar li {
	display: inline;
	padding: 5px;
	font-family: "New Courier", Courier, monospace;
}

li.resume {
	border: 5px double cyan;
}