header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}

body {
	background-color: rgb(0, 25, 50);
	width: 100%;
}

.menu-bar {
	margin: 30px;
	text-align: right;
}

.menu-bar li:first-child {
	float: left;
	color: white;
}

.menu-bar-item a:link, .menu-bar-item a:visited, .menu-bar-item a:active{
	text-decoration: none;
	color: white;
}

.menu-bar-item a:hover {
	text-decoration: none;
	color: cyan;
}	

.menu-bar li {
	display: inline;
	padding: 5px;
	font-family: "New Courier", Courier, monospace;
	letter-spacing: 0.2px;
}

li.resume {
	border: 5px double cyan;
}

#personal-image {
	width: 300px;
	height: 300px;
	float: right;
}

#about-text {
	padding-left: 10px;
	padding-right: 20px;
	margin-right: 350px;
}

.section-header {
	font-size: 26px;
	font-weight: bold;
	color:white;
	margin-bottom: 0px;
}

.about-content, .project-content, .experience-content{
	width: 720px;
	margin: auto;
	margin-top: 75px;
}

.section-text {
	color: rgb(135, 150, 170);
}

.text-link:link, .text-link:visited, .text-link:active{
	text-decoration: none;
	color: cyan;
}

.text-link:hover {
	text-decoration: underline;
	color: cyan;
}

.movie-recommender {
	height: 450px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}

.movie-recommender img {
	opacity: 0.75;
	width: 500px;
	height: 400px;
}

.movie-recommender img:hover, .website img:hover {
	position: relative;
	opacity: 1;
}

.movie-recommender-title {
	position: absolute;
	height: 30px;
	width: 180px;
	top: 0%;
	left: 75%;
	font-size: 20px;
	font-weight: bold;
  	background-color: rgb(0, 25, 50);;
  	color: cyan;
  	text-align: center;
}

.movie-recommender-text {
	border: solid 1px cyan;
	position: absolute;
	width: 350px;
	height: 180px;
	top: 20%;
	left: 51%;
	background-color: rgba(40, 20, 70, 0.6);
	color: rgb(135, 150, 170);
	padding: 5px;
}

.movie-recommender-text:hover {
	background-color: rgba(40, 20, 70, 0.8);
	border: solid 2px cyan;
}

.movie-recommender-text ul li {
	float: left;
    list-style-position: inside;
    list-style-type: none;
    margin-right: 1em;
}

#github-image {
	width: 25px;
	height: 25px;
	padding-top: 0px;
}

#github {
	list-style-type: none;
}

.website {
	height: 450px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}

.website img {
	opacity: 0.75;
	width: 500px;
	height: 400px;
	float: right;
}

.website-title {
	position: absolute;
	height: 30px;
	width: 180px;
	top: 0%;
	left: 0%;
	font-size: 20px;
	font-weight: bold;
  	background-color: rgb(0, 25, 50);;
  	color: cyan;
  	text-align: center;
}

.website-text {
	border: solid 1px cyan;
	position: absolute;
	width: 350px;
	height: 140px;
	top: 20%;
	left: 0%;
	background-color: rgba(40, 20, 70, 0.6);
	color: rgb(135, 150, 170);
	padding: 5px;
}

.website-text:hover {
	background-color: rgba(40, 20, 70, 0.8);
	border: solid 2px cyan;
}

.website-text ul li {
	float: left;
    list-style-position: inside;
    list-style-type: none;
    margin-right: 1em;
}
