body {
	background-color: rgb(0, 56, 100);
}

div.menu-header ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.menu-header li {
	float: right;
	padding: 16px;
	font-family: "courier";
	outline-style: 
}

div.menu-header a:link {
  color: white; 
  text-decoration: none;
}

div.menu-header a:visited {
  color: white;
  text-decoration: none;
}

div.menu-header a:hover {
  color: cyan;
  text-decoration: none;
}

div.menu-header a:active {
  color: white;
  text-decoration: none;
}

div.about-detail {
	text-align: center;
	font-family: sans-serif;
	color: white;
}