body {
	background-color: rgb(0, 56, 100);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu-list li a {
	float: right;
	padding: 16px;
	font-family: "Courier New";
	text-decoration: none;
	color: white;
}